<!DOCTYPE html>
<html>
  <head>
    <title>LunchAndLearnFrontEnd</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
      <% flash.each do |type, msg| %>
      <div style="color:red;font-weight:bold;">
        <%= msg %>
      </div>
    <% end %>
    <%= link_to 'Home', "/" %>
    <% if logged_in? %>
      | <%= link_to 'Find Recipes', recipes_path(@current_user_id) %> | <%= link_to 'My Favorites', favorites_path(@current_user_id) %> | <%= link_to 'Log Out', logout_path %>
    <% end %><br><br>
    <h1><center>Lunch and Learn</center></h1>
    <%= yield %>
  </body>
</html>
